In [4]:
import pandas as pd

In [8]:
xlsx = pd.ExcelFile('RFOPCSV.xlsx')

In [9]:
data = pd.read_excel(xlsx)

In [21]:
pd.DataFrame(data)

          [s]  CH1[V]
0    -0.00600    1.96
1    -0.00600    2.28
2    -0.00600    2.12
3    -0.00599    1.96
4    -0.00599    2.12
5    -0.00599    2.04
6    -0.00599    2.28
7    -0.00599    2.28
8    -0.00598    1.96
9    -0.00598    2.20
10   -0.00598    2.44
11   -0.00598    2.36
12   -0.00598    2.44
13   -0.00597    2.52
14   -0.00597    2.36
15   -0.00597    2.28
16   -0.00597    2.28
17   -0.00597    2.28
18   -0.00596    2.52
19   -0.00596    2.12
20   -0.00596    2.04
21   -0.00596    2.36
22   -0.00596    2.76
23   -0.00595    2.76
24   -0.00595    2.84
25   -0.00595    2.76
26   -0.00595    2.52
27   -0.00595    2.60
28   -0.00594    2.52
29   -0.00594    2.68
...       ...     ...
5970  0.00594   -2.84
5971  0.00594   -2.92
5972  0.00594   -2.76
5973  0.00595   -2.76
5974  0.00595   -2.84
5975  0.00595   -2.76
5976  0.00595   -2.76
5977  0.00595   -2.84
5978  0.00596   -2.84
5979  0.00596   -2.92
5980  0.00596   -2.60
5981  0.00596   -2.52
5982  0.00596   -2.60
5983  0.00597   -2.76
5984  0.00597   -2.76
5985  0.00597   -2.36
5986  0.00597   -2.44
5987  0.00597   -2.44
5988  0.00598   -2.52
5989  0.00598   -2.36
5990  0.00598   -2.44
5991  0.00598   -2.68
5992  0.00598   -2.44
5993  0.00599   -2.20
5994  0.00599   -2.44
5995  0.00599   -2.44
5996  0.00599   -2.44
5997  0.00599   -2.36
5998  0.00600   -2.36
5999  0.00600   -2.52

[6000 rows x 2 columns]

In [26]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(7,5))
df

          0         1         2         3         4
0 -0.487611  1.295476 -1.753653  0.016856  1.888206
1 -0.539450 -0.650807  0.763296  1.804309 -0.478329
2 -0.964746 -0.069561  0.738514 -0.432296 -1.157984
3  0.244807 -1.935851 -0.779262 -0.305350  0.012864
4 -0.733446  0.164785  1.307421 -0.014975 -0.742341
5  0.136418 -1.835363 -0.329547  0.440153  0.074751
6 -1.027367  0.289991  0.970123  1.593434  1.073812

# Detecting and Filtering Outliers

In [30]:
import pandas as pd
np.random.seed(12345)
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.067684     0.067924     0.025598    -0.002298
std       0.998035     0.992106     1.006835     0.996794
min      -3.428254    -3.548824    -3.184377    -3.745356
25%      -0.774890    -0.591841    -0.641675    -0.644144
50%      -0.116401     0.101143     0.002073    -0.013611
75%       0.616366     0.780282     0.680391     0.654328
max       3.366626     2.653656     3.260383     3.927528

In [31]:
col = data[3]
col[np.abs(col) > 3]

97     3.927528
305   -3.399312
400   -3.745356
Name: 3, dtype: float64

In [32]:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
5   -0.539741  0.476985  3.248944 -1.021228
97  -0.774363  0.552936  0.106061  3.927528
102 -0.655054 -0.565230  3.176873  0.959533
305 -2.315555  0.457246 -0.025907 -3.399312
324  0.050188  1.951312  3.260383  0.963301
400  0.146326  0.508391 -0.196713 -3.745356
499 -0.293333 -0.242459 -3.056990  1.918403
523 -3.428254 -0.296336 -0.439938 -0.867165
586  0.275144  1.179227 -3.184377  1.369891
808 -0.362528 -3.548824  1.553205 -2.186301
900  3.366626 -2.372214  0.851010  1.332846

In [40]:
data[np.abs(data) > 3] = np.sign(data) * 3
x = data.describe()

In [36]:
import matplotlib.pyplot as plt

In [54]:
plt.show(df[2].any(),df[2])